.VenueBackground{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4% 8%;
    font-family: "Arial Rounded MT", "Arial Rounded MT Bold", Arial, sans-serif;
     margin: 0;


  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/mahabs10.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;}

