.rangwrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4% 8%;
    font-family: "Arial Rounded MT", "Arial Rounded MT Bold", Arial, sans-serif;
     margin: 0;
  min-height: 100vh;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/mahabs5.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rangwrapper{
    margin: 0;
min-height: 100vh;

background-image:
linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
url("../../assets/mahabs9.jpg");

background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

