.speakers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
      margin: 0;
  min-height: 100vh;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/mahabs8.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    
}