.aboutwrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4% 8%;
    font-family: "Arial Rounded MT", "Arial Rounded MT Bold", Arial, sans-serif;
}

/* Each section card */
.aboutsection {
    background: rgba(255, 255, 255, 0.05);
    padding: 2.5rem 3rem;
    border-radius: 16px;
    line-height: 1.8;
}

/* Title */
.abtssntitle {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color:#57B9FF;
}

/* Paragraph text */
.abouttext {
    font-size: larger;
    text-align: justify;
    opacity: 0.95;
    color: #cfe9ff;
}


.dates-table {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border-collapse: collapse;
  font-size: 1.2rem;
  color: #ffffff;
}

.dates-table th,
.dates-table td {
  padding: 1rem 1.2rem;
  border: 2px solid #ffffff;
  text-align: center;
}

.dates-table th {
  font-weight: 700;
}
@media (max-width: 768px) {

  .abtssntitle {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color:#57B9FF;
}
/* Paragraph text */
.abouttext {
    font-size: small;
    text-align: justify;
    opacity: 0.95;
    color: #cfe9ff;
}

.dates-table {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border-collapse: collapse;
  font-size: 1rem;
  color: #ffffff;
}

}
