.paperwrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4% 8%;
    font-family: "Arial Rounded MT", "Arial Rounded MT Bold", Arial, sans-serif;
     margin: 0;
  min-height: 100vh;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/mahabs5.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.paperwrapper{
    margin: 0;
min-height: 100vh;

background-image:
linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
url("../../assets/mahabs4.jpg");

background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


.textcontent{
font-size: x-large;
font-style: inherit;
color: #a4d6fa;
}
.submitpapbtn{
    height: 10vh;
    width: 20vw;

    /* Glass background */
    background: rgba(255, 255, 255, 0.15);

    /* Glass blur */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    /* Glass border */
    border: 1px solid rgba(255, 255, 255, 0.25);

    /* Depth */
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.25);

    /* Rounded edges */
    border-radius: 16px;
    color: white;
    font-family: "Arial Rounded MT", "Arial Rounded MT Bold", Arial, sans-serif;
    font-size: xx-large;
    align-self: center;
}

.submitpapbtn:hover{
    background: rgba(255, 255, 255, 0.5);
}

.submitpapbtn a{
    color: white;
    text-decoration: none;
}

.subbtn{
    align-self: center;
}

@media (max-width: 768px) {
    .submitpapbtn{
        width: 15vh;
        height: 10vh;
        font-size: large;
    }
    .submitpapbtn a{
    color: white;
    text-decoration: none;
}
}