.program-page {
  min-height: 93vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}

.programcard {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {

.programcard {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
}
